h2 {}

.pedido {
  width: 90%;
  margin: 2rem auto 0;
  box-shadow: 15px 15px 15px #0005;
  border-radius: 1rem;
  overflow: hidden;
}

.pedido .fila {
  display: flex;
  width: 100%;
}

.pedido .fila span {
  display: block;
  width: 16.66%;
  text-align: center;
}

.pedido .fila button {
  width: 60%;
  margin: 0 auto;
}

.pedido .fila button, .botones button {
  background: #8bc34a;
  border: 2px solid #fafafa;
  color: #fafafa;
  border-radius: .5em;
  outline: none;
}

.pedido .fila button {
  width: 60%;
  margin: 0 auto;
  padding: .065em .5em;
}

.pedido .fila span:last-child button, .botones button:nth-child(2) {
  background: #f44336;
}

.pedido .fila.listaCabecera, .pedido .fila.total {
  font-size: 1.125rem;
  background: #ffee58;
  padding: .25em 1em .25em .25em;
  font-weight: bold;
}

.pedido .lista {
  font-size: 1.125;
  height: 10em;
  /* 24em */
  background: #fafafa;
  overflow-y: scroll;
}

.pedido .lista>div>div.fila {
  padding: .25em;
  border-bottom: .125em solid #fafafa;
  background: #64b5f6;
}

.pedido .lista>div>div.fila:nth-child(2n) {
  background: #64b5f6;
  color: red;
}

.pedido .fila.total {
  justify-content: space-between;
}

.pedido .fila.total span:first-child {
  width: 50%;
}

.botones {
  text-align: center;
  margin-top: 2rem;
}

.botones button {
  margin: 0 3rem;
  font-family: 'Nunito', sans-serif;
  font-size: 1.125rem;
  padding: .5em 1em;
  box-shadow: 15px 15px 15px #0005;
}

.botones button:hover {
  box-shadow: 15px 15px 15px #0002, 0px 0px 20px #ffffcacc;
}

/* .wrapper .list {}

.wrapper table {
    width: 100%;
    background: green;
    overflow: scroll;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    height: 500px;
}

.wrapper table::-webkit-scrollbar {
    display: none;
}

.wrapper tr th {
    background: green;
}

.wrapper tr {
    background: #fafafa;
}

.wrapper tr:nth-child(even) {
    background: blue;
}
.wrapper tr:last-child{
  background: red;
}

.wrapper td{
  text-align: center;
  padding:.25em .5em;
}
 */
