<div class="wrapper">
  <h2>Pedido</h2>
  <div class="pedido">
    <div class="fila listaCabecera">
      <span>Producto</span>
      <span>Unidades</span>
      <span>Precio</span>
      <span>Subtotal</span>
      <span>Añadir</span>
      <span>Quitar</span>
    </div>
    <div class="lista">
      <div *ngFor="let producto of listaPedido">
        <div class="fila unidad">
          <span>{{producto.nombre}}</span>
          <span>{{producto.cantidad}}Ud.</span>
          <span>{{producto.precio}}€</span>
          <span>{{producto.precio*producto.cantidad}}€</span>
          <span><button (click)="aumentarUnidad(producto)">+</button></span>
          <span><button (click)="quitarUnidad(producto)">-</button></span>
        </div>
      </div>
    </div>
    <div class="fila total">
      <span>TOTAL PEDIDO:</span>
      <span>{{precioTotal}}€</span>
      <span></span>
      <span></span>

    </div>
  </div>

  <div class="botones">
    <button (click)="confirmarPedido(precioTotal)">Confirmar</button>
    <button (click)="cancelarPedido()">Cancelar</button>
  </div>
  <!-- <table>
      <tr>
        <th>Producto</th>
        <th>Unidades</th>
        <th>Precio</th>
        <th>Subtotal</th>
        <th>Añadir</th>
        <th>Quitar</th>
      </tr>
      <tr *ngFor="let producto of listaPedido">
        <td>{{producto.nombre}}</td>
        <td>{{producto.cantidad}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.precio*producto.cantidad}}</td>
        <td><span (click)="aumentarUnidad(producto)">+</span></td>
        <td><span (click)="quitarUnidad(producto)">-</span></td>

      </tr>
      <tr *ngFor="let elemento of listaVacia">
        <td colspan="6"></td>
      </tr>

      <tr>
        <td>TOTAL</td>
        <td colspan="2"></td>
        <td>{{precioTotal}}</td>
      </tr>

    </table> -->

</div>
