@import url('https://fonts.googleapis.com/css?family=Lobster|Nunito:400,700&display=swap');
* {
  box-sizing: border-box;
}



body {
  font-family: 'Nunito', sans-serif;
  background: #42a5f5;
  color: #1c1c1c;
  height: 100vh;
  overflow: hidden;
}

h2 {
  font-size: 1.5rem;
  padding-top: .5em;
  text-align: center;
  margin: 0;
  color: #fafafa;
}

 h2::after {
  content: '';
  display: block;
  border-top: .2em solid #ffee58;
  border-radius: 1em;
  margin: 0 auto;
  width: 90%;
}
