@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  font-family: 'Fredoka One', cursive;
  background: #42a5f5;
  color:#1c1c1c;
}
